<html lang="en">

    <%- include('./partials/header.ejs') %>

    <body>


        <div class="not-found content">
        <h2>Page not found</h2>
        
    </div>

    <%- include('./partials/footer.ejs') %>
    
    </body>
</html>